<h1>It's a new game bitches!</h1>
<h2>What is the longest word you can find?</h2>
<p>

  <%= @letters %>

  <form action= "/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, form_authenticity_token %>
  <input type="text" name="word" placeholder="Type a word :-)">

  <input type="submit" value="Play">
</form>

</p>



